body {
    background-color: darkslategrey;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.content {
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
}

#prelude {
    display: flex;
}

#prelude h2 {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}

button {
    font-size: 50px;
    font-family: 'Times New Roman';
    font-weight: bolder;
}

.results {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.player-result {
    padding: 10px;
    margin: 10px;
    font-size: larger;
    font-weight: bolder;
}

.computer-result {
    padding: 10px;
    margin: 10px;
    font-size: larger;
    font-weight: bolder;
}

.outcome {
    margin: 10px;
    font-size: larger;
    font-weight: bolder;
}

#deciders {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#round #player-round #computer-round {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}